/* .chat-container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f2f2f2;
    padding: 10px;
}

.sidebar-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar-user {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.sidebar-user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar-user a {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.sidebar-user a:hover {
    text-decoration: underline;
} */

.chat-content {
    flex: 1;
    padding: 10px;
    margin-left: 100px;
}

.chat-header {
    padding: 10px;
    background-color: #f2f2f2;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-top: 10vh;
}

.chat-form {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-form input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px;
}

.chat-form button {
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: #3897f0;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.chat-messages {
    max-height: 400px;
    overflow-y: auto;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: flex-end;
}

.chat-message.left {
    justify-content: flex-start;
}

.chat-message .sender {
    font-weight: bold;
    margin-right: 10px;
}

.chat-message .message {
    margin-top: 5px;
}

.profile-pic {
    width: 5vh;
    margin-right: 10px;
}
.chat-header .receiver-name {
    flex-grow: 1;
}
.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    text-align: left;
}
a{
    text-decoration: none;
    color: #333
}