
/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
}

/* Header */

/* Main */
main{
  margin-top: 14vh;
}

/* .sidebar{
  position: fixed;
  margin-left: 5vh;

} */

.profile {
  max-width: 600px;
  margin: 0 auto;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-user-info h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-user-info button {
  padding: 10px 20px;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.editprofil{
  padding: 10px 20px;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.profile-user-info .chat {
  padding: 10px 20px;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;

  /* margin-top: -1000px; */
}
.profile-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-stats .stat {
  text-align: center;
}

.profile-stats .stat span {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-description h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-description p {
  font-size: 1rem;
  line-height: 1.5;
}